[2017-08-28 21:05] ramess101 opened #1 "Transferring File to LaTex"
@ejmaginn Would you like me to transfer our google doc to LaTex and upload to GitHub? I was not sure if we wanted to keep working with the google doc until it is a bit more polished. The main advantage of moving it to LaTex and uploading to GitHub now is the issue tracking and version control.  I just didn't want to make the change now if people are still working on the google doc and/or already w

[2017-08-29 02:10] ejmaginn commented on #1
Richard,

If you are willing to take care of the GitHub management, that would be great. I think it is best to get this off of the Google Doc. Will you communicate with the rest of the team? We need to establish a date when this will be ready. For me, late October will be the earliest. I can back to campus and have been buried with other things.

Thanks,
Ed

Edward Maginn
Dorini Family Professor a

[2017-08-29 04:00] ramess101 commented on #1
Yeah, I will take care of converting it to LaTex tomorrow. To simplify things, could you add me as a collaborator to the repository? Also, if you add the other members as collaborators (their GitHub accounts are on the google doc) then it will be easier for me to contact them via GitHub.

[2017-12-20 15:37] ramess101 opened #2 "Work plan"
@ejmaginn @drroe

Happy holidays! I think we should make a work plan for when/what/how much each of us is going to contribute. For example, I am going to start working on this manuscript again. Specifically, I am going to bulk up the Green-Kubo and Einstein discussion for viscosity. I will have this completed by the end of the calendar year. After I have finished my changes it would be someone els

[2017-12-20 15:42] ramess101 opened #3 "Adding contributors"
@ejmaginn

I don't think I can add people since you created the repository. Could you add @jrelliottoh?

[2017-12-20 20:02] ejmaginn commented on #2
Richard,

That sounds like a good plan. I also added Richard as a collaborator. I can take a crack at this when you are finished.

Let me know if you receive this email as I am unsure if this list works.

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn

[2017-12-20 20:29] ramess101 commented on #2
@ejmaginn

I did receive the email. OK, I will let you know when I am satisfied with what I have. I also think it would be good to have a video call to regroup since it has been a while.

[2017-12-22 14:32] ramess101 commented on #3
@ejmaginn

Daniel from DIPPR/BYU is willing to contribute to this manuscript. Could you add @dcarls0n?

[2017-12-22 17:30] ejmaginn commented on #3
Excellent. Added Daniel…

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn

[2017-12-27 21:22] ramess101 opened #4 "Viscosity Equations"
A few variations of the Green-Kubo/Einstein equations are found in the literature, particularly for viscosity. The primary differences are related to what terms of the pressure/stress tensor are included. Some earlier studies appear to have only included Pxy (or Pxz), while more recent studies include at least the three off-diagonal terms and some studies use additional terms.

For example, this i

[2017-12-28 13:56] drroe commented on #2
Apologies for the delay, I've been traveling. I will look over the update document ASAP.

[2017-12-28 17:33] ramess101 commented on #2
@drroe

OK, great. I will finish my changes by the end of the day. I think it will be easiest if we are not all making changes simultaneously. Although GitHub can keep track of our changes, I think taking turns will avoid merge conflicts that might be prevalent when making significant changes.

So after I finish today, who wants to be next? @ejmaginn @drroe @jrelliottoh?

[2017-12-28 20:26] ramess101 commented on #2
@ejmaginn @drroe @jrelliottoh

I have finished my changes. Whoever wants to pick it up next, post a comment here.

Note that I have focused primarily on the content and not as much on the layout. We will probably want to discuss the sectioning and the overall flow of the document once we are satisfied with the content.

[2017-12-28 21:09] ejmaginn commented on #2
I can start in earnest Tuesday of next week - I am traveling and have a proposal I am trying to finish this week. So if someone can step in now that would be great. Otherwise, I will start on this Tuesday Jan 2.

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@

[2018-01-04 18:45] jrelliottoh commented on #2
I will look at it this afternoon. (1/4)JRE

    On Thursday, December 28, 2017, 12:33:46 PM EST, Richard Messerly <notifications@github.com> wrote:

@drroe

OK, great. I will finish my changes by the end of the day. I think it will be easiest if we are not all making changes simultaneously. Although GitHub can keep track of our changes, I think taking turns will avoid merge conflicts that might be

[2018-04-03 13:26] ramess101 commented on #2
@ejmaginn  @drroe @jrelliottoh @dcarls0n

Since the school year should be ending in a few weeks, I thought we should try to pick this back up. I know that one other group is about to submit their best practices to LiveComs, so we should probably try to have something done in a month or so.

We had talked about having a system where we take turns looking at the document. From the best I can tell, @

[2018-04-04 15:28] ejmaginn commented on #2
Richard,

Thanks for (gently) nudging us. I have been thinking about this and feeling guilty for not doing much. I am waiting until a wave of proposals gets submitted before picking this up again.

I can work on this after April 16 but won’t be able to devote much time before then. If someone would like to take a crack at it between now and then, I can pick it up at that time.

Ed

Edward Maginn
D

[2018-04-04 16:53] ramess101 commented on #2
@ejmaginn

I am glad that it came off as a gentle nudge. I know you all have a lot going on, and are especially busy during the semester. I will also be more available in two weeks, working on submitting a publication right now.  My plan is to focus on finalizing this document from mid April till late May (hopefully it is done by then).

@dcarls0n reached out to me yesterday. I asked him to review

[2018-04-04 22:39] ejmaginn commented on #2
I am happy to work on something after April 16.

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-04-15 17:13] ejmaginn commented on #2
Richard,
Thanks. Please tell me when you are finished and I am happy to take the next crack at it. Just finished my proposal today!

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-04-16 13:40] ramess101 commented on #2
@ejmaginn

Alright, I will let you know when I finish. I do think a brief video call sometime this week would be helpful even if it is before you start working on it. Let me know what you think.

[2018-04-16 15:01] ejmaginn commented on #2
Good idea. I am free Tuesday afternoon from 2-5 pm EDT. I don’t have much other time during business hours the rest of the week (!) but could talk outside business hours if we want. Thursday evening April 19 is best for me.

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu

[2018-04-16 15:58] ramess101 commented on #2
@ejmaginn

Alright, @dcarls0n said that he has a meeting at 3 EDT, and I have a meeting at 4 EDT, so 2 EDT would work best for us tomorrow. I do not think it will take more than 30-45 minutes. Would google hangouts work for you? If so, what email should I send the link to?

[2018-04-16 16:45] ejmaginn commented on #2
OK - I have sometimes had trouble with this but you can try ed@nd.edu <mailto:ed@nd.edu> - this should work. If not, try my gmail account ejmaginn@gmail.com <mailto:ejmagin@gmail.com>

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https:/

[2018-04-16 17:43] ramess101 commented on #2
@ejmaginn  @dcarls0n

OK, I will send the link a few minutes before our meeting time (tomorrow at 12 MT/2 ET).

[2018-04-16 22:10] ramess101 commented on #2
@ejmaginn @dcarls0n

Alright, EMD_diffusivity_viscosity_restructured now contains all of my modifications. I think this structure is a lot better, but we should discuss this tomorrow. If you could take a quick glance before tomorrow to compare the old and new manuscript formats that would be helpful.

[2018-04-17 17:57] ramess101 commented on #2
@ejmaginn @dcarls0n

Here is the link:

https://hangouts.google.com/call/V12I-HqQ1cN7EXJz_stmAAEE

[2018-04-17 19:43] ramess101 opened #5 "Meeting Notes"
@ejmaginn @dcarls0n @jrelliottoh @drroe

Here are the meeting notes from 4/17:

- Modify title so that it is more representative of the text, i.e. Best Practices for Transport Properties: v1.4 Diffusivity and Viscosity from Equilibrium Molecular Dynamics

- 4.1.1. Bulk up discussion about why we do not recommend NPT, why NVT is OK, and why NVE is best.

- 4.1.1. Provide brief discussion about baro

[2018-04-17 20:09] ramess101 commented on #5
I have attached a file that addresses two of the points that we discussed.

First, @ejmaginn this article provides results using atomic and molecular shear-stress. Figure 1 and 3 show that the difference is only appreciable at very short times for Green-Kubo.

Second, @dcarls0n this article compare Green-Kubo and Einstein. They get very similar results for the two methods, see Figure 2. Not sure i

[2018-04-17 20:41] ramess101 commented on #4
@ejmaginn

Also, I think that there is a typo in Liu et al. Equation 6. I think the p_(alpha,beta) term before tr(p) is the only term that is 1 for alpha=beta and 0 for alpha!=beta. In other words, it likely was supposed to be a different variable, like delta_(alpha,beta).

So I think the equation should be something like:

P_(\alpha,\beta) = \frac{p_{\alpha,\beta}+p_{\beta,\alpha}}{2} - \frac{\de

[2018-04-17 20:48] ramess101 commented on #5
@ejmaginn

This article (another publication from your favorite Australian authors, Daivis and Evans) demonstrates that finite-size effects are small for viscosity but prevalent for diffusivity.

![image](https://user-images.githubusercontent.com/23408516/38895803-473b76f0-424e-11e8-82c5-f8e4a42b2b55.png)

[Transport_butane_EMD_Daivis.pdf](https://github.com/ejmaginn/TransportCheckList/files/19215

[2018-04-20 13:41] ramess101 commented on #4
@ejmaginn @dcarls0n

I did not enter the Einstein viscosity expression correctly in Table 1. I am missing an integral inside of the average. I will fix this after @ejmaginn has pushed his changes. Also, I think we should adopt the notation used by Hess (see above) where we explicitly show that the average is over different initial times (t0). GROMACS provides the same expression:

![image](https:/

[2018-04-20 15:10] ejmaginn commented on #4
Thanks Richard. I will push my changes Monday and let everyone know. I won’t mess with the equations.

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-04-20 16:45] ramess101 commented on #5
@ejmaginn @dcarls0n

An old study from Vrabec and Hasse has a nice figure where they show how they used an exponential function fit to the autocorrelation function after a specified cut-off time so that the Green-Kubo integral converges. We might want to mention this in the same section as the method to fit the entire autocorrelation function.

![image](https://user-images.githubusercontent.com/23

[2018-04-25 01:37] ejmaginn opened #6 "V1.5 updates"
Guys I pushed my changes. Here are things I see that we still need:

sec. 5.4 needs to be beefed up

please check the links to sections in the checklist section

Fig 1 needs to be replaced - they want $315 to use it

We need permissions for some of the other figures. I got the ones from my papers. Can someone track down the others? It is typically just an online request.

I didn't do anything with

[2018-04-25 13:46] ramess101 commented on #6
@ejmaginn

Great, I will look at this today.

Do we just want to remove these special topics altogether? I personally do not know much about diffusion in membranes. Can we just mention the possible concerns and reference the literature?

Alright. That was a pretty low quality image anyways, I was just trying to diversify our references. I will find something better or make my own image.

Will do.

[2018-04-25 14:39] dcarls0n commented on #6
It’s been rather busy this past week with the semester ending and family being in town. I should have the ‘rough’ conclusion pushed in the next couple days for review.

I like the “Validation” section idea.

On Wed, Apr 25, 2018 at 7:46 AM Richard Messerly <notifications@github.com<mailto:notifications@github.com>> wrote:

@ejmaginn<https://github.com/ejmaginn>

Great, I will look at this today.

[2018-04-26 16:47] dcarls0n opened #7 "Conclusion rough draft pushed"
I've pushed an initial draft of the conclusion. May be a little long winded, I will gladly revisit it with any feedback you have.

[2018-04-26 19:30] dcarls0n commented on #7
Yep I’ll take care of that in the next couple hours.

On Thu, Apr 26, 2018 at 12:59 PM Richard Messerly <notifications@github.com<mailto:notifications@github.com>> wrote:

@dcarls0n<https://github.com/dcarls0n>

I think I messed things up because I pushed my edits after you pushed your conclusions and the merge did not happen as it should have. Can you: first, back-up what you have written; then,

[2018-04-26 20:26] ramess101 commented on #6
@ejmaginn

I am working on getting Figure permission. I realized that we should probably include this figure from your previous publication, along with a discussion about why to omit the noisy (but heavily weighted) short-time data. Do you need to ask permission from JCTC again even though we already got permission to use other figures in this publication? If we do need to ask permission again, co

[2018-04-26 20:31] dcarls0n commented on #7
This has been taken care of. Should I reach out to you in the future if I am ready to push changes?

On Thu, Apr 26, 2018 at 1:29 PM, Daniel Carlson <daniel.j.carlson@outlook.com<mailto:daniel.j.carlson@outlook.com>> wrote:
Yep I’ll take care of that in the next couple hours.

On Thu, Apr 26, 2018 at 12:59 PM Richard Messerly <notifications@github.com<mailto:notifications@github.com>> wrote:

@dca

[2018-04-26 20:46] ejmaginn commented on #6
No we should be OK on this one.

You are right - this is one of those details we want to tell people about. “tricks of the trade”.

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-04-26 20:57] ramess101 commented on #7
@dcarls0n

Great! No, this was my fault I think. The idea is that we take turns working on the document, so yes, communication is key. But you had already said you would be pushing your conclusions changes soon. I just wasn't checking for them. In the future, I will make sure to send out a comment every time I am pushing changes so that people will know to pull the changes.

[2018-04-26 21:03] ramess101 commented on #6
@ejmaginn

Alright, great.

I am working on bulking up the viscosity Einstein section. As part of that I thought this simple figure would be helpful. This shows how averaging over three stress tensor terms only provides marginal improvement in the Einstein integral (I could do 6 but I think this is good enough). Whereas, using 30 replicates leads to very nice smooth curves where the slope is fairl

[2018-04-26 21:42] ramess101 commented on #6
@ejmaginn

Taylor and Francis also requested $315 for this figure that I included recently:

![image](https://user-images.githubusercontent.com/23408516/39333283-8c43bc42-4967-11e8-8439-3350e65e5c18.png)

It probably does not help at all that I know the author of this manuscript, right? In other words, the author relinquishes ownership to the publisher. I find this strange that Taylor and Francis

[2018-04-26 22:25] ramess101 commented on #6
@ejmaginn  @dcarls0n

I wanted to inform you that I have pushed my changes for the day. Just trying to avoid another merge problem.

[2018-04-26 23:53] ejmaginn commented on #6
This looks great!

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-04-27 00:01] ejmaginn commented on #6
Ugh. Rip off. Yes, I think we can just refer to the figures in the text without showing them, and only reproduce free images. I’ll see if I can find an equivalent somewhere. We don’t want to make our own!

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
vi

[2018-04-30 17:09] ramess101 commented on #6
@ejmaginn @dcarls0n

I wanted to follow up on Ed's concerns:

Rather than beefing this up (since I don't know a ton about membrane diffusivity simulations) I simply cleaned it up so that it reads a little better. I foresee these special topics sections as placeholders for the future where experts (other than us) can contribute.

I think all the links are good

I have removed this figure. I don't t

[2018-04-30 17:25] ramess101 commented on #6
@ejmaginn @dcarls0n

What is our plan moving forward? Do we want to have another video conference? Do we all want to go over the document one more time?

At the very least, I would appreciate some feedback on these Sections:

4.2.3- I tried to explain how to obtain lower and upper uncertainties. Let me know if this is still not clear enough.

4.4 - This is the new validation section. Let me know i

[2018-04-30 18:04] ejmaginn commented on #6
Got it.

I think we should all read / review and then finalize this week. Have the other authors (DR, JRE) taken a look? I can do a detailed edit / review in the next couple days. I know we can all edit and merge using GitHub but maybe one of us (Richard????) could compile changes and we could all send in suggestions. Would that work?

Edward Maginn
Dorini Family Professor and Department Chair
Dep

[2018-04-30 18:42] drroe commented on #6
I'd like clarification on this too. I'm fine with either making edits to to main document (EMD_diffusivity_viscosity_restructured.tex) or just making suggestions via opening a GitHub issue. Let me know which is preferable.

[2018-04-30 20:11] ramess101 commented on #6
@ejmaginn @dcarls0n @drroe @jrelliottoh

I think it might be easiest if we did this the old-fashioned way, i.e. we all make comments on our own PDF copy of the manuscript. Since we do not want these PDFs clogging up our GitHub repository, I will create an issue where we can upload our PDFs.

I know this does not utilize the full capabilities of Git version control, but this will avoid any merge is

[2018-04-30 20:13] ramess101 opened #8 "Commented PDFs"
@ejmaginn @drroe @jrelliottoh @dcarls0n

Please upload a PDF with your suggested changes to the manuscript. After we have reviewed the suggestions, we will decide which ones to implement.

[2018-04-30 20:28] ejmaginn commented on #6
I’m OK with this!

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-05-01 15:40] ramess101 commented on #8
Great, thanks @drroe

OK, I have attached a PDF with my response to DRR's comments along with my own initiated comments. @ejmaginn  @drroe @dcarls0n @jrelliottoh please add your responses to our comments, either on this PDF or a separate one. Once we have all provided feedback we will start modifying the TEX file.

[EMD_DRR_RAMcomments.pdf](https://github.com/ejmaginn/TransportCheckList/files/1964

[2018-05-01 15:55] drroe commented on #8
I'll address minor comments in this Issue to avoid too many versions of the PDF flying around. I'll reproduce the existing comment and any responses to provide context.

I think it's fine not to mention all the individual analysis tools, but if we mention LAMMPS and GROMACS we should at least mention Amber and CHARMM as well. Could also mention NAMD but since VMD is really more of a separate analy

[2018-05-01 15:58] drroe commented on #8
I think we should change _N_ to _M_ and then use _N_ for number of dimensions

[2018-05-01 16:01] drroe commented on #8
I think that's fine as long as it is mentioned. Let me know if you'd like me to add it directly.

[2018-05-01 16:18] ramess101 commented on #8
Good idea

I agree that we should mention Amber and CHARMM if we are mentioning LAMMPS and GROMACS. Maybe we just want to rewrite this sentence so that we do not need to mention any by name (although we will include a reference for them). We could say something like "Many simulation packages include built-in analysis tools that automatically estimate transport properties, while other post-simulati

[2018-05-01 20:02] ejmaginn commented on #8
I will try to get to this by Thursday morning. I am a little swamped today and tomorrow, but I have been following the exchange. One thing I would suggest is to let N = number of molecules. M is confusing, as Rich correctly mentions. People often use "d" for the number of dimensions. I recommend that.

[2018-05-02 21:31] ejmaginn commented on #8
Here are my comments / edits.

Ed

[2018-05-02 21:34] ramess101 commented on #8
@ejmaginn

I don't see any comments. Did you mean to attach them to your previous post?

[2018-05-02 21:37] ejmaginn commented on #8
I thought I did attach but maybe not. I’ll try again in a bit.

Sent from my mobile device

On May 2, 2018, at 5:34 PM, Richard Messerly <notifications@github.com>
wrote:

@ejmaginn <https://github.com/ejmaginn>

I don't see any comments. Did you mean to attach them to your previous post?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https:/

[2018-05-03 12:09] ejmaginn commented on #8
Can you see them now?

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-05-03 13:29] ramess101 commented on #8
@ejmaginn

I don't see it anywhere. Are you trying to attach a PDF or upload it to the repository? To attach a PDF you should be able to just drag and drop it. When you click Preview do you see a link to the PDF?

[2018-05-03 13:39] ejmaginn commented on #8
I was just trying to send as an email. I uploaded it to the repository now. Hopefully you can now see it.

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-05-03 13:43] ramess101 commented on #8
@ejmaginn

OK, I have moved your marked PDF to this issue (see attachment), since I don't think we want it in the repository.

[EMD_DRR_RAM_EJM_comments.pdf](https://github.com/ejmaginn/TransportCheckList/files/1971091/EMD_DRR_RAM_EJM_comments.pdf)

[2018-05-03 13:49] ejmaginn commented on #8
Thanks. I see. I am a newbie on how this works. Sorry about that!

[2018-05-03 13:53] ramess101 commented on #8
@ejmaginn

That is totally fine. This is not standard protocol to begin with.

Alright, so we have comments from @drroe @ejmaginn and @ramess101.

@dcarls0n and @jrelliottoh are you going to provide some feedback before the end of the week? Specifically, could you opine on the comments raised in the EMD_DRR_RAM_EJM_comments.pdf?

[2018-05-03 17:02] dcarls0n commented on #8
Apologies! Classes have started again. I will finish my review and provide any feedback by the end of the day.

[2018-05-03 20:44] ramess101 commented on #6
@ejmaginn

In Issue #8 I mentioned that I could put together a figure showing the range of viscosity values depending on the time interval selected. The figure below was obtained using the Einstein values from Figure 9 where we compare a single simulation with 30 replicate simulations. The start and end time refer to the time interval that is included when calculating the slope.

Clearly a single

[2018-05-04 02:40] dcarls0n commented on #8
I added only a few comments (find them in the sections I've listed below):

**Sec 6:**
-Advocating @ramess101 's Einstein suggestion when replicate simulations are expensive
**6.1.4:**
-Quoted the section of the Daivis paper explaining the "os" superscript for clarity
-Raised some clarity concerns regarding the use of Figure 8 in showing the importance of using  all six independent components of t

[2018-05-04 13:48] ramess101 commented on #8
Alright, thanks everyone. I think this is all the feedback we are going to get for now. Next Monday I will provide the manuscript to the NIST reviewers. Then, if we get a quick enough turn around, it could be approved for submission by the following Monday (5/14), but no later than 5/21.

@drroe Is it alright if I go through and make all the easy changes right now? Specifically, the changes that I

[2018-05-04 15:35] ejmaginn commented on #6
Richard,
Sorry for not replying earlier. I have been tied up lately.

This figure is cool but I am not sure I totally understand it. My main takeaway is that with N=30 you get a much more stable result and less dependence on where you take the slope, is that right? But that you can get the “right answer” wth N=1 if you only use the short time date? I think that really does emphasize how “risky” it

[2018-05-04 16:52] drroe commented on #8
Sounds good.

[2018-05-04 20:17] ramess101 commented on #8
@drroe

As you probably noticed, this took longer than expected due to a myriad of different issues (mostly not related to this manuscript). However, I have now pushed my changes for the LaTex file and PDF. I have attached my response PDF for all of the comments mentioned previously. You will note that I left you most of the changes that your proposed. Let me know if you have any concerns or quest

[2018-05-07 13:54] ramess101 commented on #8
@drroe

Could you give me a time table for when your changes will be completed? I would like to submit this article to the NIST interval review board as soon as possible, i.e. today or tomorrow. If that is unreasonable for you just let me know, because it is not a big deal to submit the manuscript even if some small changes are made after the fact. I just want to get the process started so we can

[2018-05-07 14:28] ramess101 commented on #8
@drroe

No problem. Tomorrow would be great. I hope you get to feeling better.

[2018-05-08 18:37] drroe commented on #8
My changes have been pushed. Note that I only updated the .tex and .bib files - the software I'm using for PDF generation ran into some issues (maybe because I'm on Linux?), so I didn't try to update that as well.  Let me know if you see any problems or have questions.

[2018-05-08 19:50] ramess101 commented on #8
@drroe

Looks great! The PDF and other files are now updated.

It is now with the NIST reviewers, Arno Laesecke and Alta Fang. We will hear back from them before the end of the week.

[2018-05-09 17:47] ramess101 opened #9 "NIST Review"
@ejmaginn @drroe @dcarls0n @jrelliottoh

I have attached the first NIST reviewer's remarks. All of the changes are minor, but I think two of them are pretty important. First, adding multiple time origins to the checklist and including a bit more discussion about this point. Second, more details about bootstrapping. Specifically, how large the set should be relative to the number of replicates.

[E

[2018-05-09 17:56] drroe commented on #9
I can't seem to download the PDF - the link appears to just refer to this page. Anyone else seeing that?

[2018-05-09 18:04] ramess101 commented on #9
@drroe

Sorry, I did not wait for the download to finish. It should work now.

[2018-05-10 01:46] ejmaginn commented on #9
Rich,

I can’t seem to download this - help?

Ed

Edward Maginn
Dorini Family Professor and Department Chair
Department of Chemical and Biomolecular Engineering
University of Notre Dame
Notre Dame, IN 46556 USA
cbe.nd.edu
ed@nd.edu
@ejmaginn
view my papers: https://goo.gl/kgMMBe

[2018-05-10 02:13] ramess101 commented on #9
@ejmaginn

Here it is again

[EMD_diffusivity_viscosity_restructured.pdf](https://github.com/ejmaginn/TransportCheckList/files/1990064/EMD_diffusivity_viscosity_restructured.pdf)

[2018-05-15 19:39] ramess101 commented on #9
@drroe @ejmaginn @jrelliottoh @dcarls0n

We are still waiting to hear back from the second NIST reviewer. If you have not already done so, please look over the previous reviewers comments. If you object to any of them, make it known soon. I plan on implementing the first reviewers changes tonight.

[2018-05-16 14:46] ramess101 commented on #9
Here are my responses to each comment.

I think we could reference the GUM as well as the LiveCoMS best practices for reporting uncertainty manuscript.

OK,

This is an important text, but the explanation about transport properties is not very developed or straight forward, in my opinion. And the focus for viscosity is primarily on NEMD. However, I will include it in our list of suggested referenc

[2018-05-16 14:47] ramess101 commented on #9
@drroe @ejmaginn @jrelliottoh @dcarls0n

Let me know if you have any further suggestions in response to these comments. They are all pretty minor. So I will implement them today and submit for the final NIST review by tomorrow. It should be approved by Monday.

[2018-05-16 14:51] ejmaginn commented on #9
This all seems reasonable to me.

Ed

[2018-05-23 21:47] ramess101 commented on #9
@drroe @ejmaginn @jrelliottoh @dcarls0n

I just wanted to let everyone know that there was a paperwork mishap at NIST. So the manuscript was not reviewed this past Monday, but it will be reviewed on 5/29 (a Tuesday because there is a federal holiday on Monday).

Also, I have included some of the syntax changes that were recommended by Ken Kroenlein of TRC. Most likely there will be a few more non-

[2018-05-24 00:46] ejmaginn commented on #9
@ramess101 thank you - sounds like a good plan.

[2018-05-29 22:10] ramess101 commented on #9
@drroe @ejmaginn @jrelliottoh @dcarls0n

Our manuscript has passed the final NIST review. There are a few comments that I wanted to address below.

[2018-05-29 22:10] ramess101 commented on #9
On page 2 of the manuscript, below Equation 1, we state that "\xi is the perturbation in the Hamiltonian associated with the particular transport property under consideration." However, I believe that statement was orginally written for NEMD methods. EMD does not include any "perturbation in the Hamiltonian." Please correct me if I am misinterpretting this statement. Unless someone else has a bett

[2018-05-29 22:13] ramess101 commented on #9
On page 3, section 4.1.2, paragraph 2, we state that "the uncertainty is inversely proportional to the square root of the number of replicates." Is this uncertainty supposed to be the variance, standard deviation, standard error of the mean, or expanded confidence interval?

[2018-05-30 15:51] ramess101 opened #10 "LiveCoMS Fee"
@ejmaginn @drroe @jrelliottoh @dcarls0n

As you may or may not know, LiveCoMS requires a $100 fee for publication. I figured since there are five authors, we would split this fee such that we each pay $20. Does that sound reasonable for everyone? I was thinking that I would pay the $100 fee and then just have each of you pay me back $20. However, I am not sure what the best approach is for money t

[2018-05-30 15:54] ejmaginn commented on #9
I think you are right Rich - this is the standard error.

[2018-05-30 15:54] ejmaginn commented on #10
I think that is OK. I can send money via PayPal.

[2018-05-30 16:17] dcarls0n commented on #10
Sure. Either method works for me.

On Wed, May 30, 2018 at 9:54 AM Edward Maginn <notifications@github.com<mailto:notifications@github.com>> wrote:

I think that is OK. I can send money via PayPal.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ejmaginn/TransportCheckList/issues/10#issuecomment-393215523>, or mute the thread

[2018-05-31 14:02] drroe commented on #10
Paypal should be fine.

[2018-06-22 15:58] ramess101 commented on #10
Michael Shirts just sent out this email:

I spoke with Michael about submitting our manuscript on May 30th but he mentioned that the website was undergoing some maintenance so I needed to wait on submitting. I forgot to follow-up with him, so our manuscript has not yet been submitted. Having received this email from Michael, I would like to submit our manuscript today.

@ejmaginn I think Michael w

[2018-06-22 16:17] ejmaginn commented on #10
I have not submitted it - I was not sure if it had all cleared on NIST. I think it is good to go. If you would like to submit it, please be my guest!

[2018-06-22 16:32] ramess101 opened #11 "LiveCoMS Reviewers"
@ejmaginn @drroe @jrelliottoh @dcarls0n

If you have a strong preference for who I should list on LiveCoMS as "Suggested reviewers" and "Reviewers to avoid", please let me know by the end of the day.

[2018-06-22 16:40] ramess101 commented on #11
Currently I have listed:

Suggested Reviewers:

Jadran Vrabec
Richard Rowley

Reviewers to avoid

The NIST reviewers (Dan Siderius and Arno Laesecke)

[2018-06-22 16:41] ejmaginn commented on #11
Suggestions for suggested reviewers (please feel free to veto / ignore): Peter Cummings, Ioannis Economou, Jadran Vrabec, Rajesh Khare

I don't have any people I would exclude.

[2018-06-22 16:43] ramess101 commented on #11
@ejmaginn

Good, those are some good reviewers to include.

[2018-06-22 17:55] davidlmobley opened #12 "Clean up entry page?"
@ramess101 - got your submission, clicked through to the repo. The first thing I noticed was that there are a lot of files here and it's really hard to see which is actually your manuscript. The first one I clicked on was https://github.com/ejmaginn/TransportCheckList/blob/master/EMD_diffusivity_viscosity.pdf which does NOT seem to be the one you want public-facing.

I suggest:
a) Updating your RE

[2018-06-22 17:59] davidlmobley opened #13 "Acknowledgments"
The PDF has an acknowledgment of financial support for DMZ, but no author has those initials.

[2018-06-22 18:57] ramess101 commented on #12
@davidlmobley

Thanks David. I completely agree. This was on my list of things to do for a while now but I probably won't get around to until after the 20th Symposium next week.

[2018-06-23 04:33] ramess101 commented on #13
@drroe

Was this supposed to be your financial support statement? Should this say DRR? No one else would have funding from an NIH grant.

Or is this a mistake entirely? I noticed that the exact same statement is found in the other LiveCoMS best practices guide that you contributed to (https://github.com/dmzuckerman/Sampling-Uncertainty/blob/master/main.pdf) where Daniel M. Zuckerman (DMZ) was an a

[2018-06-23 05:11] ramess101 commented on #12
The README file could still be a little more useful. But I think the repository is at least less cluttered now.

[2018-06-25 14:41] drroe commented on #10
@ramess101 Sent. Let me know if there are any issues.

[2018-06-25 14:44] drroe commented on #13
I definitely didn't add it (I don't get grants from the NIH since I _work_ for the NIH :smiley:). Seems like a copy/paste error and can be removed.

[2018-06-25 14:51] #13 closed

[2018-06-25 14:52] ejmaginn commented on #10
@ramess101 I just sent $20 - sorry for the delay. Let me know if you did not get it.

[2018-06-27 20:34] dcarls0n commented on #10
I've sent $20. Ping me if you haven't received it.

[2018-07-03 14:34] drroe commented on #10
@ramess101 Just got an email that the paypal request was canceled - anything wrong?

[2018-07-03 14:41] ramess101 commented on #10
@drroe

No, nothing is wrong. You paid me $20 already, but it was a separate transaction, i.e., not in response to the request I made previously. So I needed to cancel my original request. But there is no action needed on your part.

Sorry for the confusion.

[2018-08-21 14:57] ramess101 opened #14 "LiveCoMS Review"
@ejmaginn @drroe @jrelliottoh @dcarls0n

The reviewer comments are in.

Here is the email LiveCoMS sent me (and maybe they sent it to some of you as well):

Dear Dr. Messerly,
Thank you for submitting your manuscript "Best Practices for Computing Transport Properties 1. Self-Diffusivity and Viscosity from Equilibrium Molecular Dynamics v1" to the Living Journal of Computational Molecular Science.

[2018-08-21 14:58] ramess101 commented on #14
Here are the Reviewer #1 comments:

Do you have additional comments for the author?
NA

How does the article address the specific reviewer criteria for the article type (Perpetual Reviews, Tutorials, Comparisons of Computational Software, and Lessons Learned), as described at https://livecomsjournal.github.io/policies/reviewer_information/?
NA

In what ways should the paper be improved to be easy

[2018-08-21 14:59] ramess101 commented on #14
Here are the Reviewer #2 comments:

Do you have additional comments for the author?
I used this document while calculating viscosity for myself and it got me pretty much all the way there, so thanks!

The only difficulty I had was conserving energy in the NVE ensemble (which you cover in common pitfalls) using GROMACS 2018. I investigated the hints given in common pitfalls, but it turned out that

[2018-08-21 15:00] ramess101 commented on #14
Here are the Reviewer #3 comments:

Do you have additional comments for the author?

The article itself is a great example for others in the community to follow when writing best practice guides for other topics. Look forward to the forthcoming NEMD article.

How does the article address the specific reviewer criteria for the article type (Perpetual Reviews, Tutorials, Comparisons of Computational

[2018-08-21 15:05] ramess101 commented on #14
@ejmaginn @drroe @jrelliottoh @dcarls0n

I think we should all read over these comments. If there is a comment/recommendation that you feel like you have a good revision/response for, please add it to this issue. We will then compile/combine the responses and resolve any disputes that might arise. Once you have finished with your responses (even if you don't provide one for each comment) please ma

[2018-08-21 15:41] drroe commented on #14
Did they get an old copy of the PDF? I don't see it in the current repo.

[2018-08-21 15:44] drroe commented on #14
My feeling is that we should recommend against using single precision. It's great that the calculation worked out for the reviewer, but the accumulation of round-off error inherent in single precision calculations will eventually cause major issues with the forces, especially on the time scales required for simulations that are long enough for "good" determination of diffusion constants. So I woul

[2018-08-21 15:49] ramess101 commented on #14
@drroe

Yes. We fixed this a few days after submitting.

[2018-08-21 16:01] drroe commented on #14
Got it - I thought it sounded familiar, just couldn't remember when the fix was implemented.

[2018-08-22 18:04] ramess101 commented on #14
@drroe

I think that is a good recommendation to include in Section 4.3 "General Transport: Common pitfalls" where we discuss conserving energy. Probably something like (new text in bold):

"When simulating in the NVE ensemble, it is imperative that the integrator conserve energy. **Performing simulations with single precision is one of the main causes for poor conservation of energy. For this rea

[2018-08-22 18:37] ramess101 commented on #14
We will need to read through this one more time to look for any recommendations that are missing a rationale.

Caption to Figure 9 uses GROMACS manual to reference LINCS. I will include the actual LINCS articles ([49] and [50] in the GROMACS manual).

First paragraph of page 14 references the manual for the fit of the autocorrelation function. I will include the actual reference ([172] in the GROM

[2018-08-22 18:43] ramess101 commented on #14
I think this makes sense. Does anyone object to moving common pitfalls up in the checklist?

Again, we need to reread the manuscript before re-submission.

This is a valid point. If we end up combining the Green-Kubo and Einstein checklists it will be a moot point though.

[2018-08-23 15:13] ramess101 commented on #14
@drroe @ejmaginn @jrelliottoh @dcarls0n

As suggested by the reviewers, I have modified the checklists so that:

1) Common pitfalls is the second bullet point
2) Green-Kubo and Einstein checklists are combined for a given property.

In the end, I think combining the checklists is a good idea. It makes it clear what is the same and what is different for the two methods, whereas before the reader wo

[2018-08-23 15:28] ramess101 commented on #14
@drroe @ejmaginn @jrelliottoh @dcarls0n

So at this point we have gone through all of the easy/clear recommendations made by the reviewers. All that remains is for each of us to read through the document looking for:

1) Recommendations that do not have a clear rationale
2) Typos and long sentences
3) Passive voice (I removed all that I could find with a simple Ctrl+F search)
4) New errors that ha

[2018-08-24 14:43] drroe commented on #14
@ramess101 This sounds good. I think we should just add a few words on why single precision can lead to poor conservation of energy, something like (new text in bold):

"Performing simulations with single precision is one of the main causes for poor conservation of energy **due to accumulation of round-off errors**"

What do you think?

[2018-08-24 15:47] ramess101 commented on #14
@drroe @ejmaginn @jrelliottoh @dcarls0n

We still need to think of how to clarify this issue:

This is the relevant section:

![image](https://user-images.githubusercontent.com/23408516/44593518-cd7d6600-a780-11e8-9f54-33e965a2c359.png)

I think we should clarify that the fit in Figure 2 is to the "middle region" even though it appears to be the "long time fit." The simulation is only 1 ns, so eve

[2018-08-24 16:12] ramess101 commented on #14
@drroe @ejmaginn @jrelliottoh @dcarls0n

OK, I have uploaded "Response_LiveCoMS_Reviewers_1" with a draft of our responses. Note that the Response 1 to the editor still needs some recommendation rationales. It would also be nice to have some specific examples of typos and wordsmithing for Response 3 to Reviewer 2.

I plan on re-reading the manuscript this weekend. Can we all finalize our comments

[2018-08-27 17:47] ramess101 opened #15 "Additional Issues"
@ejmaginn @drroe @jrelliottoh @dcarls0n

I have gone through the manuscript one more time and implemented some changes that I thought were pretty clear. However, there are a few issues that I wanted to discuss as a group:

1) The use of a final configuration from NVT for the NVE run. What if the final configuration is not a good representation of the desired temperature? I know this is the common

[2018-08-27 17:54] ramess101 commented on #15
@ejmaginn @drroe @jrelliottoh @dcarls0n

Here are my thoughts regarding each issue:

1) Maybe recommend taking a configuration that has a temperature near the average temperature?
2) I don't know. But currently the manuscript appears to imply that they should be zero for both homogenous and inhomogenous.
3) Maybe we can reference the other Best Practices manuscript on sampling or some other articl

[2018-08-27 19:46] ramess101 commented on #14
@drroe @ejmaginn @jrelliottoh @dcarls0n

I used latexdiff to generate a PDF with all the changes that have been made after we originally submitted the manuscript. This file can be found in the LiveCoMS_review_process\ folder as "diff_postreview_1.pdf". There are a few instances where the changes were too complicated for the automated difference tracker. But for the most part this file shows all th

[2018-08-28 01:16] ejmaginn commented on #15
@drroe @jrelliottoh @ramess101 @dcarls0n

I went through the revision carefully - thanks for using the diff feature! Let me respond to 1-7 items listed and then add a few of my own suggestions:
1. One suggestion is to take the last configuration, do aggressive velocity rescaling for a short time, then run NVE throwing out the first few ps. Then you can use the remainder for the production run.

2.

[2018-08-28 04:38] ramess101 commented on #15
@ejmaginn

Thanks for the feedback. @drroe @jrelliottoh @dcarls0n any thoughts? Specifically, does anyone disagree with the following decisions:

1) Leave the NVE suggestion as is (unless we feel like it deserves a more rigorous recommendation like that presented by Ed above)
2) Make it clear that the statement about the off-diagonal elements being zero applies only to homogenous systems
3) Refere

[2018-08-29 14:32] drroe commented on #15
Yes, it is the lag between time origins. For each value of lag, as the value increases the number of data points you have for a finite data set decreases, which eventually starts to increase your statistical noise (e.g. if you have a data set of 10 points you have 9 values for lag = 1 but only 1 value for lag = 9) - this is typically what leads to the tails of these functions being poorly behaved.

[2018-08-29 15:57] ramess101 commented on #15
@drroe

Thank you. That did clarify the issue, although I am still struggling to find a best way to integrate that into this section. I feel like this should actually go in the "simulation length" discussion where we talk about time origins. Does that sound good? I have two revised statements, what do you think?

Version 1:

Note that when calculating the VACF, care must be taken to ensure that th

[2018-08-29 19:13] drroe commented on #15
That seems good.

I wouldn't actually give a specific range here. Water is a common thing to simulate, and the VAC time is well known to be on the order of ps so I don't think we need a reference here (if we do, I think Rahman and Stillinger did some theoretical work on it back in the 70s, I'll need to look a bit to dig up the reference). However, the VACF will decay very differently for more comp

[2018-08-29 19:28] ramess101 commented on #15
@drroe

OK, I will look into Rahman and Stillinger to have a reference for water. I agree that we don't need to provide a specific range, rather we just need to recommend that they confirm that the tail has converged. I will post the revised section before the end of the day.

[2018-08-29 19:55] ramess101 commented on #15
@drroe

This reference is probably good enough:

![image](https://user-images.githubusercontent.com/23408516/44811935-2723cd00-ab93-11e8-9544-0d1138abb279.png)

![image](https://user-images.githubusercontent.com/23408516/44811941-2ab75400-ab93-11e8-9dd5-028e60b6b657.png)

[2018-08-29 20:47] ramess101 commented on #15
@drroe @ejmaginn @dcarls0n @jrelliottoh

Here are three different versions of this paragraph (versions 1 and 2 only have a single sentence different, but version 3 is considerably different). Can we get a vote on which paragraph is the most clear and has the most logical order? Along with voting on your favorite, please provide any feedback for how to improve them.

For context, this is the preced

[2018-08-29 20:49] ramess101 commented on #15
@ejmaginn @drroe @jrelliottoh @dcarls0n

My vote is for version 3, because it flows more naturally from the previous paragraph where we mention time origins. However, I don't love that the example for water is just thrown on at the end. Between versions 1 and 2, I like the wording of version 2 more (ignoring the small typo I just noticed).

[2018-08-29 21:10] ramess101 opened #16 "Equations 4 and 7"
@ejmaginn

Are we missing the double sums over "i" and "j" in Equations 4 and 7? We have double summations in the corresponding Einstein relations (Equations 6 and 8). Without the double sums, the subscripts i and j for tau^os are meaningless. So I think we simply omitted the double sum, but I wanted to verify with you first.

![image](https://user-images.githubusercontent.com/23408516/44815730-93

[2018-08-29 22:17] ejmaginn commented on #16
@ramess101 I think you are right. The < > average implies the sum but to be consistent with the other equations we should include it.

[2018-08-30 01:10] ejmaginn commented on #15
@drroe @ramess101 @jrelliottoh @dcarls0n I also like version 3. I agree the water reference in the last line seems like a throwaway. We could just cut that last line and be OK.

[2018-08-30 13:17] ramess101 commented on #16
@ejmaginn

Yeah, that makes sense. For consistency, I have updated Equations 4 and 7:

![image](https://user-images.githubusercontent.com/23408516/44853987-9eee0800-ac24-11e8-9e82-527405b42a9a.png)

![image](https://user-images.githubusercontent.com/23408516/44854010-aad9ca00-ac24-11e8-96ad-6975222d4cab.png)

[2018-08-30 13:27] drroe commented on #15
I'm OK with that, or with expanding it to be a full example:

"For example, water models at liquid conditions typically exhibit a decay to zero time on the order of 1 ps, so a simulation of 10-20 ps should be sufficient for cacluating the VACF."

[2018-08-30 13:37] ramess101 commented on #15
@ejmaginn @drroe

OK, I have revised this section (see below). Here are the main changes:

1) Moving one of the VACF sentences to the data analysis section
2) Bulking up the water model example
3) Rewording the "lag" sentences

One question, @drroe , is the 10-20 ps statement consistent with the recommendation of performing simulations from 2 to 10 times the decay-to-zero time? Shouldn't we say, "

[2018-08-30 13:40] ramess101 commented on #15
@drroe

How does this sound (changed 10-20 to 2-10 and included lag time):

For example, water models at liquid conditions typically exhibit a decay-to-zero time on the order of 1 ps, such that a simulation of 2 to 10 ps with a lag time no greater than 1 ps should be sufficient for obtaining a well converged VACF (see Figures 12-15 of Ref. [43]).

[2018-08-30 13:47] ramess101 opened #17 "Conclusions"
@ejmaginn @drroe @jrelliottoh @dcarls0n

After implementing the recent changes and reading the article once again, I felt like our conclusions section needed some significant revision. Specifically, some of the recommendations weren't exactly consistent with the main text. The partitioning of topics was also different from the text, as there were only conclusions for diffusivity and viscosity, but

[2018-08-30 14:57] drroe commented on #15
Thinking about it a bit more, we should probably recommend that the simulation time be an order of magnitude more than the decay time (the better to ensure good long-time tail behavior/convergence) and then double that to try to ensure good statistics when actually calculating the VAC function - does that make sense? So in the case of water it would be 20 ps.

[2018-08-30 15:37] ramess101 commented on #15
OK, is this what the changes should look like? (Changes are in bold)

A good rule of thumb for ensuring that the calculated VACF has been sampled adequately is to perform simulations that are **approximately** a factor of **20** times longer than the estimated decay-to-zero time. The lag between time origins should then **be greater than the decay-to-zero time but** not exceed half the total simul

[2018-08-30 17:33] ejmaginn commented on #17
@ramess101 Thanks - I will take a look this evening.

[2018-08-30 17:34] ejmaginn commented on #15
@ramess101 @drroe  This reads well to me.

[2018-09-03 04:33] ramess101 commented on #17
@ejmaginn

Sorry for pestering you, I just wanted to check on your status.

I hope you have a good labor day!

[2018-09-03 04:35] ramess101 commented on #15
Here are @jrelliottoh remarks:

5. I didn’t write that sentence and I don’t know where it came from. If its origin and meaning can’t be resolved, I would say we should scratch it.

6. I think your modification makes the guideline viable. It implies that the basis for the guideline is sparse and empirical so it is open to revision if additional evidence comes along. That seems fine to me.

e. I con

[2018-09-04 14:35] ramess101 commented on #17
@ejmaginn

Thanks Ed. I think we are ready to resubmit then.

Regarding Eqn 4, it should have a double summation (see Issue #16). If your version does not have that, make sure you have pulled the changes.

[2018-09-04 16:36] ramess101 commented on #14
@drroe @ejmaginn @jrelliottoh @dcarls0n

Thank you everyone for your feedback. The revised manuscript has been re-submitted.

[2018-09-30 22:43] mrshirts opened #18 "Citation/proof for why ten times more data is required for viscosity?"
On line 938 of the .tex file, it says that because viscosity is a collective property, about 10x more data is required. This seems somewhat opaque.  Is the 10x independent of number of molecules?  Is there some study of this?  A question along these lines seems to be in the comments still as well.

[2018-09-30 22:44] mrshirts opened #19 "Close issues?"
Issues should be closed when they are addressed to satisfaction of the participants in the issue.

[2018-09-30 22:45] mrshirts opened #20 "Suggest breaking up issues into smaller parts"
There are several issues that actually involve a number of issues. They should probably be listed as smaller numbers of issues that are relatively self-contained.

Since  it looks like those are resolved, this does NOT need to be done retrospectively, but will make it easier to improve the document in the future with future issues.

[2018-10-03 14:12] ramess101 opened #21 "Editorial Changes"
@ejmaginn @drroe @jrelliottoh @dcarls0n

Our manuscript has officially been accepted. The editor has requested the following changes before final publication:

- The title should be in the form: (title) [Article v1.0]

- In the other resources section, in the introduction, put titles in italics in references, or otherwise set them apart, additionally, it probably makes sense to list just the name

[2018-10-03 14:19] ramess101 commented on #21
@ejmaginn @drroe @jrelliottoh @dcarls0n

Most of these changes are pretty simple. I have almost finished implementing comments: 1, 2, 5, 6, 7, 9, 10 11, 12, and 13.

For the remaining comments 3, 4, and 8, I would appreciate some feedback from the team.

3. Personally, I dislike starting figure captions with a conclusion. But if the journal requires this I guess we need to modify all of our figure

[2018-10-04 06:03] ramess101 commented on #21
@ejmaginn @drroe @jrelliottoh @dcarls0n

OK, I have finished all of the edits. I went through and modified all of the figure captions so that the first sentence is a conclusion statement. I believe all the figures are sufficiently self-contained. And I defined gamma and xi (along with other previously undefined symbols in Table 1).

I would appreciate if everyone read over all of the figure captio

[2018-10-04 13:38] drroe commented on #21
@ramess101 Looks great - thanks for handling that. I made some minor fixes but didn't change anything major.

Regarding 5.4, we could just change that to 'Considerations for membrane systems' since that's all that section really covers. And for 6.4 we can change that to something like 'Force Field Effects on Viscosity'. What does everyone think?

[2018-10-04 13:59] ramess101 commented on #21
@drroe Thanks!

As for 5.4 and 6.4, I think the idea was for those sections to be placeholders for other future topics. Although they currently only discuss those two issues, I still think we kind of want a miscellaneous section. I would vote for us to leave the section title "Special topics" and then have 5.4.1 and 6.4.1 with the titles you suggested. I know this doesn't satisfy the editorial com

[2018-10-04 14:52] ejmaginn commented on #21
@ramess101 this looks great! I found two small issues:

Caption fig 1: Yem-Hummer should be Yeh-Hummer
Caption fig 11: I think Ethanol should be ethanol (it  is not a proper noun)

[2018-10-04 15:36] ramess101 commented on #21
@drroe @ejmaginn

OK, I implemented Ed's corrections. I also included subheaders for Sections 5.4.1 and 6.4.1 titled "Considerations for membrane systems" and "Considerations for cut-off length". If you have any other issues, let me know before the end of the day. I will resubmit to LiveCoMS this evening.

[2018-10-09 15:20] ramess101 commented on #21
@jrelliottoh

Thanks, but the manuscript has already been resubmitted. I don't think we have any citation information just yet.

[2018-11-08 22:12] ramess101 opened #23 "ASAP Production"
@ejmaginn @drroe @jrelliottoh @dcarls0n

Before our manuscript can enter the ASAP production stage, we need to address a few issues.

1) Update the template to the latest version on GitHub
2) Create a representative cover image
3) Provide ORCID IDs
4) Remove PMIDs
5) Consistent journal abbreviations

I will take care of 1, 4, and 5. I have already updated the template version and will push those c

[2018-11-09 14:57] ejmaginn commented on #23
I work with a talented graphic artist who can make something if you can help provide a concept. What would we like this to look like?

[2018-11-09 15:10] drroe commented on #23
Hi,

My ORCID is https://orcid.org/0000-0002-5834-2447. I'm not super great with graphics but I'll see if anyone in the lab has any good ideas.

[2018-11-09 15:20] ramess101 commented on #23
@ejmaginn

That would be great. I think we have a few options. With my limited artistic abilities, I would think of something that depicts a molecular system with vectors denoting the transport of mass and momentum.

[2018-11-09 15:21] ramess101 commented on #23
@jrelliottoh

From a quick search, I assume this is your ORCID: https://orcid.org/0000-0002-1159-4786

[2018-11-09 17:39] #1 closed

[2018-11-09 17:39] #3 closed

[2018-11-09 17:39] #2 closed

[2018-11-09 17:39] #4 closed

[2018-11-09 17:39] #5 closed

[2018-11-09 17:39] #6 closed

[2018-11-09 17:39] #7 closed

[2018-11-09 17:39] #8 closed

[2018-11-09 17:39] #9 closed

[2018-11-09 17:39] #11 closed

[2018-11-09 17:39] #10 closed

[2018-11-09 17:39] #12 closed

[2018-11-09 17:39] #14 closed

[2018-11-09 17:39] #15 closed

[2018-11-09 17:39] #16 closed

[2018-11-09 17:39] #17 closed

[2018-11-09 17:40] #19 closed

[2018-11-09 17:40] #20 closed

[2018-11-09 17:46] dcarls0n commented on #23
My ORCID ID:
https://orcid.org/0000-0002-6610-414X

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Richard Messerly <notifications@github.com>
Sent: Friday, November 9, 2018 8:21 AM
To: ejmaginn/TransportCheckList
Cc: dcarls0n; Mention
Subject: Re: [ejmaginn/TransportCheckList] ASAP Production (#23)

@jrelliottoh<https://github.com/jrelliottoh>

From a quick sea

[2018-11-12 12:47] ramess101 commented on #23
@ejmaginn @drroe @dcarls0n @jrelliottoh

I received some clarification from Michael regarding the cover image. It does not need to be a "table of contents image" or a "visual abstract." This is really just supposed to catch someone's attention and be related to our topic.

So I think a pretty simple design would be something that denotes viscosity (e.g., molasses, honey, or just flowing water) and

[2018-11-19 17:38] ramess101 commented on #23
@ejmaginn @drroe @dcarls0n @jrelliottoh

I just wanted to let everyone know that the only thing LiveCoMS is waiting on for publication is the cover image. @ejmaginn has any progress been made in that area? Does anyone else have an idea or the interest/ability to make this?

[2018-11-20 03:30] ejmaginn commented on #23
My bad. I dropped the ball but I have just asked for help with this and will let you know what I find out asap.

[2018-11-20 03:39] ramess101 commented on #23
Alright not a problem. We should just try to get this figured out soon. So
let us know ASAP if you will not be able to make the image.

On Monday, November 19, 2018, Edward Maginn <notifications@github.com>
wrote:

[2018-11-20 03:49] ejmaginn commented on #23
OK I imagine it will be after Thanksgiving but hopefully not long after.

[2018-11-21 10:55] jrelliottoh commented on #23
FYI, I made a mockup of what is in my mind about a wheel bearing since I never heard what you were actually drawing up.JRE

    On Monday, November 19, 2018, 10:49:07 PM EST, Edward Maginn <notifications@github.com> wrote:

OK I imagine it will be after Thanksgiving but hopefully not long after.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub,

[2018-11-21 12:04] ramess101 commented on #23
I don’t think the group ever heard about your wheel bearing idea. It’s
nowhere on the thread.

On Wednesday, November 21, 2018, jrelliottoh <notifications@github.com>
wrote:

[2018-11-21 14:36] ejmaginn commented on #23
I should have it early next week. I am going to take a photo of a beaker with dye in it and we will mash it up with some molecule images. Does anyone have a preference for which molecules to show? And if so, do you have *.xyz of *.pdb files of them? Otherwise, I will make something up.

[2018-11-21 16:07] ramess101 commented on #23
That sounds good to me. I don't have any preference for which molecules you depict.

[2018-11-27 19:35] ejmaginn commented on #23
Guys, attached is a (admittedly not great) image trying to show the concept of diffusion. I took the picture myself and a colleague did some photoshopping. She thinks she can do better with more work - but what does everyone think of this at least for now?
![transport-checklist-image](https://user-images.githubusercontent.com/9609821/49106621-a9cf2d80-f251-11e8-8dde-2115c0a735dc.png)

[2018-11-27 19:53] ramess101 commented on #23
@ejmaginn

This is basically what I envisioned. My three (minor) suggestions would be to:

1) Zoom out so that you can see the entire beaker
2) Use a non-graduated beaker or at least find some way to remove the volume markings
3) Have the diffusion/mixing between phases be more prominent. Currently it is hard to tell that the yellow phase is diffusing into the clear phase (it almost looks like the

[2018-11-27 19:57] ejmaginn commented on #23
I agree these are better. I couldn't take a cool photo like above, though I tried. Did you make these images or are they someone else's? The issue is we need to own the copyright.

[2018-11-27 20:01] ramess101 commented on #23
@ejmaginn

I just found these online with a quick search of "diffusion beaker." I think we could very easily make our own version of the bottom one though.

But what was the issue with the real photo? When you dropped some food coloring in a beaker of water did it not diffuse like the picture above?

[2018-11-27 20:17] ejmaginn commented on #23
It diffused so rapidly I couldn't get a photo of the cool mixing. The color I used was super water soluble. If somebody has a dye it might work better. Anybody else want to take a shot? I can also ask my colleague to make a cartoon version like the second image.

[2018-11-27 20:31] ramess101 commented on #23
@ejmaginn

You could try adding food coloring to something that is much more viscous (but still clear), like olive oil. Then when you add the dyed olive oil to the water it should diffuse a lot more slowly. I can give it a try when I get home.

If your colleague is up for making a cartoon version, that might end up looking better anyways.

[2018-11-27 21:23] ejmaginn commented on #23
She's going to make a cartoon - here is something she recently made.
![crs_cover-art](https://user-images.githubusercontent.com/9609821/49112431-b9a23e00-f260-11e8-82a1-29f5bb6f9067.jpg)

[2018-11-29 17:16] ejmaginn commented on #23
What about something like this???
![toc-transport_livecoms_inverted](https://user-images.githubusercontent.com/9609821/49239338-8979ad00-f3d0-11e8-8c8e-dc59d747a1f1.png)

[2018-11-29 17:20] ramess101 commented on #23
@ejmaginn

That is a lot better! I am fine sending that unless she is still working on it.

[2018-11-29 18:42] ejmaginn commented on #23
OK she's working on one more concept. I'll let you know.

[2018-11-30 17:51] ramess101 commented on #23
@ejmaginn @drroe @dcarls0n @jrelliottoh

Ed has finished work on the cover image. I will be submitting this image to LiveCoMS over the weekend, unless someone has strong feelings to modify it or use a different image.

![image](https://user-images.githubusercontent.com/23408516/49305868-c061c880-f48d-11e8-9f52-2b2e04c59478.png)

[2018-11-30 17:58] drroe commented on #23
Looks great!

[2018-11-30 18:17] jrelliottoh commented on #23
Looks fine to me.JRE

    On Friday, November 30, 2018, 12:58:03 PM EST, Daniel R. Roe <notifications@github.com> wrote:

Looks great!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-20 17:14] ramess101 commented on #23
@ejmaginn @drroe @dcarls0n @jrelliottoh

OK, there are just a few last things that need to be completed for the manuscript to be published. Here is the email from @mrshirts:

I will take care of 1). I will write something for 2) but anyone else is welcome to write this or edit my version. @ejmaginn could you complete 3)?

[2018-12-20 17:59] ejmaginn commented on #23
Sure. Where is the license? Is it on their website?

[2018-12-20 18:17] ramess101 commented on #23
@ejmaginn

I just uploaded the license to the GitHub repository at contributor_license/LiveCoMS_contributor_license.pdf

It is also attached here

[LiveCoMS_contributor_license.pdf](https://github.com/ejmaginn/TransportCheckList/files/2699998/LiveCoMS_contributor_license.pdf)

Here are the LiveCoMS instructions:

I'm not sure if you can electronically sign this form, but either way please send it

[2018-12-20 18:38] ejmaginn commented on #23
I emailed the signed license and pushed it to the license directory.

I like the "lede". Didn't even know what that was.

[2018-12-20 18:46] ramess101 commented on #23
@ejmaginn

Great! Michael just confirmed that he received your document.

Haha, I kept thinking it was a typo, like it was supposed to be "led" or "lead." And in fact, it was originally a misspelling of lead but it has now acquired its own meaning. A quick google search can provide loads of interesting information:

![image](https://user-images.githubusercontent.com/23408516/50304282-c889a400-044c

[2018-12-20 19:34] ramess101 commented on #23
@ejmaginn @drroe @dcarls0n @jrelliottoh

To expedite this process, I have already submitted the lede to @mrshirts. Please express any concerns you have with the lede ASAP so that we can get the ASAP version published ASAP.

[2018-12-22 22:26] martinvoegele opened #24 "Additional info on membrane diffusion"
Hello,

First I must say you did a great job in writing this review. I enjoyed reading it a lot.

It might be of interest that in membranes, finite-size effects on diffusion coefficients can be corrected without prior knowledge of the membrane viscosity (which you get on top) from a set of (two or more) simulations at different box width:
https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.1

[2018-12-22 23:46] martinvoegele opened #25 "More special cases of finite-size effects"
Maybe you are interested in more special cases of diffusion finite-size effects.

People have looked at ...
- diffusion under confinement: https://pubs.acs.org/doi/abs/10.1021/acs.jctc.7b00342
- binary mutual diffusion coefficients: https://pubs.acs.org/doi/10.1021/acs.jctc.8b00170 and obtaining the respective viscosity: https://pubs.acs.org/doi/10.1021/acs.jctc.8b00625
- diffusion in non-cubic bo

[2018-12-26 16:21] ejmaginn commented on #25
Martin - thank you for the references and comments. V1 of this paper was not intended to be comprehensive, but rather a collection of "best practices" and checklists for standard fluid phase transport properties. We may be able to expand treatment to other properties and situations and these references are helpful. Thanks again.

[2019-01-03 02:37] ramess101 commented on #23
@ejmaginn

Per Michael's request for the initial LiveCoMS release, I am closing this issue

[2019-01-03 02:37] #23 closed

[2019-01-03 21:09] ahy3nz opened #26 "Broken links for references 15 and 17"
The URLs to references 15 and 17 appear broken. I think the URL strings in the bib files have additional whitespace (which manifest as the characters '%20' in the URLs in a web browser)
* (broken) <https://engineering.ucsb.edu/~%20shell/che210d/Computing_properties.pdf>
* (good) <https://engineering.ucsb.edu/~shell/che210d/Computing_properties.pdf>
* (broken) <https://www.eng.buffalo.edu/~%20kofke

[2019-01-07 03:05] ramess101 commented on #26
@ahy3nz

Thank you for opening this issue. Unfortunately, we have been unsuccessful at finding a simple solution for this problem. Currently the best approach is to simply copy the link into the web browser rather than clicking on the link directly. We will continue to look into a possible solution.

[2019-12-17 03:05] malramsay64 opened #27 "Reference 43 contains braces around DOI"
The doi for the reference is formatted as `https://doi.org/{10.1063/1.4926841}` due to double braces being used in the bibliography file.